@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;
  
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
      --secondary-border-color: #56575A;
  
    --title-color: #F0F0F0;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
  }
  
  :root[data-theme='light'] {
    --primary-color: #0B0B0F;
  
      --primary-bg-color: #E9E9E9;
      --secondary-bg-color: #C7C8C9;
      --primary-border-color: #C7C8C9;
      --secondary-border-color: #9A9A9C;
  
      --title-color: #0B0B0F;
      --text-color: #28292E;
      --link-color: #28292E;
      --icon-color: #56575A;
  }

  body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  }

  a{
    text-decoration: none;
  }

  i {
    color: var(--icon-color);
  }

  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
  }
  
  #toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
  }

  .menu{
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
  }

  .menu--mobile{
    justify-content: space-between;
  }

  .menu--mobile .menu__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
  }

  .menu__icon, .menu__text {
    color: var(--text-color);
  }
  
  .menu__icon{
    font-size: 1.5rem;
  }

  .menu__text{
    font-size: .75rem;
    text-transform: uppercase;
  }